.App {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  
}
.App-title {
  font-size: 12px;
  
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
